[*.cs]

# WPF0132: Use PART prefix.
dotnet_diagnostic.WPF0132.severity = none

# CA2208: 正确实例化参数异常
dotnet_diagnostic.CA2208.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# WPF0102: Name of the event should match registered name.
dotnet_diagnostic.WPF0102.severity = none

# WPF0016: Default value is shared reference type.
dotnet_diagnostic.WPF0016.severity = none

# WPF0150: Use nameof() instead of literal.
dotnet_diagnostic.WPF0150.severity = none
